@import "tailwindcss";

@theme {
    --color-card: #ffffff;
    --color-cardHover: #f8fafc;
    --color-button: #0f172a;
    --color-buttonHover: #1e293b;
    --color-bodyText: #475569;
    --color-heading: #0f172a;
    --color-borderColour: #cbd5e1;
    --color-accent: #2563eb;
    --color-accentSoft: #3b82f6;
    --color-success: #16a34a;
    --color-danger: #dc2626;
}

:root {
    background-color: #f8fafc;
    min-height: 100vh;
}

body {
    color: var(--color-bodyText);
}

::-webkit-scrollbar {
    display: none;
}